* {
  margin: 0;
  padding: 0;
}

header {
  grid-column: 2;
  height: 100px;
}

.hidden {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#gameBoard {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 5px;
  place-self: center;
  background: black;
}

.gridElement {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 100px;
  background: white;
}

.x {
  color: red;
}

.o {
  color: blue;
}

.start {
  position: absolute;
  place-self: center;
  font-size: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px 40px;
  background: purple;
  color: white;
}
